nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav::before {
    content: '';
}

.navbar-title, .navbar-title a, .navbar-title a:hover {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}
.navbar-title {
    padding-left: 45px;
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100vh;
    
    background-color: var(--color-primary);
    
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;

    z-index: 1;
    }
.mobile-menu-container.open {
    transform: translateY(0%);
}   

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 1rem;
    padding-top: 50px;
}

/* Mobile menu Links Container */
.mobile-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: 1rem 0;
    
    width: 100%;

    cursor: pointer;

    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
.mobile-menu-links a {
    text-decoration: none;
    color: #fff;
}
.mobile-menu-links a:hover {
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.mobile-menu-links a.active-link {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
  }
  .mobile-menu-links a.active-link:hover {
    font-size: 2rem;
    color: #fff;
    
  }


/* Desktop Menu Links Container, Hides for Mobile */
.menu-links {
    display: none;
}


/* Button Styles */
.menu-button-primary {
    background-color:  var(--color-primary);
    border: none;
}
.menu-button-primary:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.menu-button-white {
    background-color:  #fff;
    color: var(--color-primary);
    font-weight: 600;

    border: none;
}
.menu-button-white:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}


@media screen and (min-width: 1024px) {

    .navbar-title {
        display: none;
    }
    .button-container {
        display: none;
    }

    /* Desktop Menu Links Container*/
    .menu-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        position: relative;

        margin: auto;
        padding: 1rem 0;

        width: 100%;

        font-size: 1.2rem;
        font-weight: 700;
        }
    .menu-links::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: linear-gradient(to right, transparent, var(--color-primary), transparent);
        }

        /* Desktop Menu Links */
    .menu-links a {
        position: relative;
        text-decoration: none;
        color: var(--color-primary);

        cursor: pointer;
    }
    .menu-links a:hover {
        font-size: 1.5rem;
        font-weight: 700;
        color: #000;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);   
    }

    .menu-links a::after {
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
        height: 2px;
        background: linear-gradient(to right, transparent, var(--color-primary), transparent);
        transition: all 0.3s ease-in-out;
      }
    .menu-links a:hover:after {
        left: 0;
        right: 0;
      }
    

      /* Desktop Menu Links Active */
    .menu-links a.active-link {
        font-size: 1.5rem;
        font-weight: 700;
        color: #000;
      }


}