.site-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banner-logo {
    width: 100%;
    max-width: 300px;
}

.card-blue.MuiCard-root {
    background: linear-gradient(to right, transparent, rgba(var(--color-primary-rgb), 0.3), transparent);
    color: white;

    margin-top: 2rem;
    padding-bottom: 1rem;
    
    /* remove box shadow from left and right */
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

/* 1024 Breakpoint */
@media (min-width: 900px) {
    .site-banner {
        flex-direction: row;
        height: 500px;
    }

    .banner-logo {
        max-width: 500px;
    }
}
    